<footer class="border border-bottom-0 border-left-0 border-right-0 text-center">
	<div class="container pt-3 pb-3 pt-md-5 pb-md-5">
		<div class="row">
			<div class="col" style="font-size:75%">
				&copy;{{ now.Format "2006"}} <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0" class="icon footer-icon"></svg> <a href="{{.Site.BaseURL}}">{{ .Site.Title }}</a><br/>
			</div>
		</div>
	</div>
	<script async='async' data-pin-hover='true' data-pin-tall='true' defer='defer' src='//assets.pinterest.com/js/pinit.js'></script>
</footer>
